<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-secondary" style="float: right;" (click)="onLogout()">Logout</button>
        <h1 class="text-center">Contact Details</h1>
        <br>
        <button type="button" class="btn btn-info btn-lg glyphicon glyphicon-plus" (click)="AddContacts()" style="float:left"></button>

        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contacts</th>
                    <th>Action</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts; let i = index">

                    <td>{{contact.Name}}</td>
                    <td>{{contact.Contact}}</td>
                    <td>

                        <button type="button" class="btn btn-warning btn-lg glyphicon glyphicon-pencil" (click)="EditContacts(i)"></button>
                    </td>
                    <td>

                        <button type="button" class="btn btn-danger btn-lg glyphicon glyphicon-trash" (click)="DeleteContacts()"></button>
                    </td>
                    <td>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>